body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.caption{
  position: absolute;
  bottom: 60px;
  left: 60px;
  background: rgba(0, 0, 0, .5);
  padding: 30px;
  box-sizing: border-box;
  transition: 0.5s;
}
.caption h2{
  margin: 0 0 20px;
  padding: 0;
  color: white;
  font-size: 48px;
  transition: 0.5s;
}
.caption p{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: white;
  transition: 0.5s;
}
.T{
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.P{
  display: grid;
  place-items: center;
  margin: 0pt;
  padding: 0pt;
}
.carousel{
  background-position-x: 75%;
  height: 100vh;
}


.login-form{
  position: relative;
  width: 350px;
  padding: 40px 40px 60px;
  background: #ebf5fc;
  border-radius: 10px;
  text-align: center;
  box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
              5px 5px 10px rgba(0,0,0,0.1);
}
.login-form h2{
  color: #32a3b1;
  font-weight: 500;
  text-translogin-form: uppercase;
  letter-spacing: 4px;
}

.login-form .input{
  text-align: left;
  margin-top: 40px;
}
.login-form .input .inputBox{
  margin-top: 20px;
}
.login-form .input .inputBox label{
  display: block;
  color: #868686;
  margin-bottom: 5px;
  font-size: 18px;
}
.button{
 background: #ff8900;
}
.login-form .input .inputBox input{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  
  font-size: 18px;
  color: #fff;
  box-shadow: inset -2px -2px 6px rgba(255,255,255,1),
              inset 2px 2px 6px rgba(0,0,0,0.1);
}
.login-form .input .inputBox input[type="submit"]{
  margin-top: 20px;
  box-shadow:  -2px -2px 6px rgba(255,255,255,1),
               2px 2px 6px rgba(0,0,0,0.1);
}
.login-form .input .inputBox input[type="submit"]:active{
  color: #006c9c;
  margin-top: 20px;
  box-shadow:  inset -2px -2px 6px rgba(255,255,255,1),
               inset 2px 2px 6px rgba(0,0,0,0.1);
}
.login-form .input .inputBox input::placeholder{
  color: #bdcada;
  font-size: 18px;
}
.forget{
  margin-top: 30px;
  color: #555;
}
.forget a{
  color: #ff0047;
}
footer{
  background-color: #689241;
  color: #fff;
}
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #DE6262;  
background: -webkit-linear-gradient(to bottom, #45482D, #689241);  
background: linear-gradient(to bottom, #45482D, #689241); 
float:left;
width:100%;
padding : 50px 0;
}
.banner-sec{background:url(./assets/images/IMGL1200.JPG)  no-repeat left bottom; background-size:cover; height:550px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px;
   /* box-shadow:15px 20px 0px rgba(0,0,0,0.1); */
  }
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#ff8900;}
.login-sec .copy-text a{color:#ff8900;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #ff8900;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#689241; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #ff8900; color:#fff; font-weight:600;}
.login-form-group input::placeholder{
  color: #689241;
}